.nav {
  background-color: #08479e;
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
}
.body {
  color: #fff;
  background-color: #2594D0;
  margin: 0;
}
.h1 {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0 8px;
}
.moreAppsNav {
  position: fixed;
  inset: 48px auto auto 8px;
  color: #000;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 10px;
  padding: 25px;
}
.hidden {
  display: none;
}
.moreApps {
  color: white;
  background-color: #396cb1;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 4px;
}
